.section {
  display: grid;
  justify-content: center;
}
.history {
  cursor: pointer;
  border: 1px solid black;
  justify-content: center;
  display: flex;
}
.history:hover {
  color: brown;
  transform: translate(3px);
}
