.input {
  padding: 10px;
  background-color: #23272f;
  color: white;
  font-size: 16px;
}
.input::placeholder {
  color: white;
}
.button {
  padding: 10px;
  background-color: dimgray;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}
